langchain
langchain-openai
python-dotenv
langchain-groq
langchain-community
bs4
unstructured
pypdf
wikipedia
langchain-chroma
langserve
langgraph
pymupdf
unstructured[all-docs]
langchain-google-genai
qdrant-client
langchain-qdrant
langchain-huggingface
grandalf
youtube-transcript-api
pytube
langchain-experimental
duckduckgo-search
langgraph-cli[inmen]
langgraph-api
